<div class="Side1">
    <ul>
        <li>
            <a id="Profile" title="Profile" href="/profile/">Profile</a>
        </li>
        <li>
            <a id="Notification" title="Notification" href="/profile/notification">Notification</a>
        </li>
        <li>
            <a id="Orders" title="Orders" href="/profile/orders">Orders</a>
        </li>
        <li>
            <a id="Cart" title="Cart" href="/checkout/cart">Cart</a>
        </li>
        <li>
            <a id="Address" title="Address" href="/profile/address">Addresses</a>
        </li>
        <li>
            <a id="Return" title="Return - Refund" href="/profile/return-refund">Return/Refund</a>
        </li>
        <li>
            <a id="Favourite" title="Favourite" href="/profile/favourite">Favourite</a>
        </li>
        <li>
            <a id="Wishlist" title="Wishlist" href="/profile/wishlist">Wishlist</a>
        </li>
        <li>
            <a id="GSBCoins" title="GSB - Coins" href="/profile/coins">GSB - Coins</a>
        </li>
        <li>
            <a id="Setting" title="Setting" href="/profile/setting">Setting</a>
        </li>
    </ul>
</div>