<div class="Side1">
    <ul>
        <li>
            <a id="PageActive" title="Profile" href="/profile/">Profile</a>
        </li>
        <li>
            <a title="Notification" href="/profile/Notification">Notification</a>
        </li>
        <li>
            <a title="Order" href="/profile/orders">Orders</a>
        </li>
        <li>
            <a title="Cart" href="/cart">Cart</a>
        </li>
        <li>
            <a title="Address" href="/profile/address">Address</a>
        </li>
        <li>
            <a title="Return - Refund" href="/profile/return_refund">Return/Refund</a>
        </li>
        <li>
            <a title="Favourite" href="/profile/favourite">Favourite</a>
        </li>
        <li>
            <a title="Wishlist" href="/profile/wishlist">Wishlist</a>
        </li>
        <li>
            <a title="GSB - Coins" href="/profile/coins">GSB - Coins</a>
        </li>
        <li>
            <a title="Setting" href="/profile/setting">Setting</a>
        </li>
    </ul>
</div>