<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders - GET SKY BUY</title>

    include ../Common/HeadPart.pug


    <link rel="stylesheet" href="/verified/files/profile/css/Profile_Orders.css">
</head>
<body>
    
    include ../Common/Header.pug
    <main class="Main">
        <h2>Orders</h2>

        <!-- <div class="Order_List">
            <div class="Ref_No">
                <strong>Ref no: </strong> <span>2413535642425</span>
            </div>
            
            
            <div class="Main_Orders">
                <div class="Main_Order_No">
                    <strong>Order no: </strong> <span>3982583843535642425 | <strong>Status: </strong> <span class="Placed">Placed</span></span>
                </div>

                <div class="Products_Orders_Main">

                    <div class="Top_Order_Part">
                        <a href="">
                            <img src="https://pssvd9k9-83.inc1.devtunnels.ms/product/files/image/1730553179641-466254607%20-%2017c26f49-7388-4fb5-bca6-2f97d69ee00b_1.30d36ba5e00bf764a3aa1553cc1805ac_1730553179926_Save.webp" alt="Image">
                        </a>
                    </div>
                    <div class="Top_Order_Title">
                        <h4>
                            <a href="" class="Anc">VCR 2 x 1 Direct Thermal Barcode Label Sticker - 2 x 1 inches - 50mm x 25mm - 2 Ups - 2000 Labels Per Roll - Pack of 1 Roll -White Self Adhesive Sticker for Printing Barcoding Labels 1 inch core</a>
                        </h4>
                        <div class="Prices_Orders">
                            <span class="Cart_Price">₹ 12,999</span>

                            <span class="Cart_MRP">MRP: 17,999</span>

                            
                        </div>
                        <div>
                            <span><strong>Option: </strong> 1000pics</span><br>
                            <span><strong>Quantity: </strong> 5</span><br>
                            <span><strong>Payment Method: </strong>COD</span><br>
                            <span><strong>Order Date: </strong> 12 Dec, 2020</span><br>
                            <span><strong>Delivery Date: </strong> 15 Dec, 2020</span> <br>
                            <span><strong>Coins Earned: </strong>5</span> <br>
                            <span><strong>Total: </strong>₹ 26,999</span> <br>
                            <span><strong>Refund/Return: </strong> none</span> <br>
                            <span><a href="https://api.whatsapp.com/send?phone=919332525641&text=Hello%2C%0AI%20have%20an%20issue%20with%20an%20order.%0APlease%20resolve%20an%20issue.%0A%0A*Registered%20Email%3A*%20ricksarkar2005%40gmail.com%0A*Order%20no%3A*%2012345678910%0A">Raise an issue with this order.</a></span> <br>
                        </div>
                    </div>


                </div>




            </div>

        </div> -->

        | !{List}

    </main>
    include ../Common/Footer.pug
    <script src="/verified/files/common/Message.js"></script>
</body>
</html>