<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to your account | GET SKY BUY</title>
    <link rel="stylesheet" href="/verified/files/user_authentication/css/LoginPage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    

    include ../Common/HeadPart.pug
</head>

    <div class="container">

        <div class="BigBox" id="BigBox">
            <div class="Logos">
                <div class="Cccccc">

                    
                    <img src="/verified/files/images/GSB-Full-Logo.webp" alt="GsbLogo">
                    <h2>Login to your account</h2>
                    <p>Enter your credentials</p>
                </div>

            </div>

            

            <div class="Box" id="Box">
                <div id="Boxx">
                        
                    <div id="TitleDiv" style="width: 100%; ">
                        <h3 id="TitleDivH3" style="text-align: left; margin-bottom: 5px;">Enter your credentials</h3>
                    </div>

                    <div  id="EmailDiv" class="Div_Input">
                        <input id="Email" class="InputText" title="Email" type="text" spellcheck="false" placeholder=" ">
                        <label class="Div_Input_Label" id="Email_Label" for="Email">Email</label>
                    </div>






                    <div  id="CreateDiv" class="Div_Input">
                        <input id="Create_Password" class="InputText" title="Password" type="password" spellcheck="false" placeholder=" ">
                        <label class="Div_Input_Label" id="Create_Password_Label" for="Create_Password">Password</label>
                        <div id="ShowPassword"><span class="material-symbols-outlined" id="ShowClick" onclick="ShowClick(1);">visibility_off</span></div>
                    </div>


                    <div class="Div_Input" id="Next_DivBtn">
                        <button id="Next_Btn1" type="button" onclick="window.location.href ='/auth/signup'">Don't have an account?</button>
                        <button id="Next_Btn" type="button" onclick="Login();">Login</button>
                    </div>
                
                </div>

                        



            </div>
        </div>


    </div>
    
    <script src="/verified/files/common/message.js"></script>
    <script src="/verified/files/user_authentication/js/LoginPage.js"></script>
</body>
</html>