
#Footer_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    height: 50px;
    width: 100%;
    z-index: 100;
    padding: 10px;
}











#Footer_Bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #a2a2a2;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    font-size: 14px;
    font-weight: 300;
    
}