.Main {
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0 0 6px #ccc;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
}

.Image_Producttt img{
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.Product-Main_Part {
    display: flex;
    justify-content:baseline;
    margin-top: 20px;
}

.Main_Part_O {
    padding: 0px 10px;
}
.Main_Part_O h4{
    margin: 0px;
    padding: 0px;
}