



.Inputclick {
    outline: none;
    border: 1px solid #4f4f4f;
    padding: 12px 14px 12px 14px;
    width: 100%;
    border-radius: 4px;
    transition: 200ms box-shadow;
}

.Div_Input {
    margin: 8px auto;
    position: relative;
    top: 0px;
}

.Inputclick:hover,
.Inputclick:focus {
    outline: none;
    border: 2px solid var(--Seconday-primary-color);
    box-shadow: 0 0 7px var(--secondaryHov-color);
}
.Inputclick:disabled {
    cursor: not-allowed;
    background-color: rgb(243, 243, 243);
    pointer-events: none;
    /* outline: none; */
    /* border: 2px solid var(--Seconday-primary-color); */
    /* box-shadow: 0 0 7px var(--secondaryHov-color); */
}

.Div_Input_Label {
    border-radius: 3px;
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 13px;
    transition: 100ms;
    user-select: none;
}

.Inputclick:focus ~ .Div_Input_Label,
.Inputclick:not(:placeholder-shown) ~ .Div_Input_Label {
    transition: 100ms;
    position: absolute;
    left: 10px;
    padding: 0 4px;
    top: -4px;
    background-color: white;
    font-size: 11.5px;
}

.Main {   
    width: 100%;
}


.CenterMain {
    margin:30px auto;
    width: 90%;
    display: flex;
}


.Side1 {
    width: 230px;
    background-color: rgba(224, 224, 224, 0.774);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    height: min-content;
}

.Side1 ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.Side1 ul li {
    display: flex;
    justify-content: center;
    width: 100%;
}
.Side1 ul li a{
    width: 100%;
    text-align: center;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(236, 236, 236, 0.774);
    margin: 3px auto;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.Side1 ul li a:hover{

    /* border: 1px solid #aaa; */
    background-color: rgb(219, 219, 219);
    color: black;
}


#PageActive{
    text-decoration: underline;
    background-color: rgb(219, 219, 219);
}





.TopProfile {
    width: 100%;
    display: flex;
    justify-content: left;

    height: 60px;

}

.TopProfileImg img{
    height: 100%;
    
}



.TopProfileData {
    height: 100%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
.TopProfileData div{
    width: 100%;
    text-align: left;
}






.Side2 {
    width: calc(100% - 250px);
    padding:30px;
    margin: 10px;
    border-radius: 10px;
    
    background-color: white;
    /* background-color: rgba(224, 224, 224, 0.774); */
}


.H2Heading h2{
    font-size: 24px;
    color: black;
    margin: 0px;
    padding: 0px;
}

.H2Heading h4{
    font-size: 18px;
    color: black;
    margin: 0px;
    padding: 0px;
}











.table {
    width: 100%;
    font-size: 14px;
}
    
.table table{
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #aaa; */
    margin: 10px 0px;
}
.table table tr >td:nth-child(1){
    width: 150px;
    padding: 8px;
    font-weight: bold;
    /* border: 1px solid #aaa; */
}
/* .table table tr >td:nth-child(2){ */
    /* border: 1px solid #aaa; */
/* } */
.table table tr >td:nth-child(2) input{
    /* width: 150px; */
    outline: none;
    border: 0px;
    padding: 4px 6px;
    color: black;
    border: none; 
    background-color: transparent;
}


@media screen and (max-width: 720px){
    .CenterMain{
        width: 98%;
    }
    
}
@media screen and (max-width: 660px){
    .Side1 {
        width: 180px;
    }
    .Side2{
        width: calc(100% - 200px);
    }
}
@media screen and (max-width: 570px){
    .CenterMain{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Side1 {
        width: 90%;
        
    }
    .Side2{
        width: 90%;
        
    }
}
@media screen and (max-width: 440px){
    
    .CenterMain{
        margin: 0px;
        width: 100%;
        position: relative;
        top: 0px;
    }
    .Side1 {
        width: calc(100%);
        border-radius: 0px;
        margin: 0px;
    }
    .Side2{
        
        width: calc(100%);
        border-radius: 0px;
        margin: 15px 0px;
        
        
    }
}

.Btns{
    padding: 0px 10px;
    margin: 5px 0px;
}

#EditBtn {
    border: none;
    transition: 200ms;
    background-color: #0c60e9;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    user-select: none;
}

#EditBtn:focus,
#EditBtn:hover {
    background-color: #0c54c7;
}

.Change1 {
    margin: 10px 0px;
}
#ChangePassword {
    border: none;
    transition: 200ms;
    background-color: #0c60e9;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    user-select: none;
}

#ChangePassword:focus,
#ChangePassword:hover {
    background-color: #0c54c7;
}
#Edit_Bank {
    border: none;
    transition: 200ms;
    background-color: #0c60e9;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    user-select: none;
}
#Edit_Bank:focus,
#Edit_Bank:hover {
    background-color: #0c54c7;

}

#ChangePasswordConfirm {
    border: none;
    transition: 200ms;
    background-color: #0c60e9;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    user-select: none;
}
#ChangePasswordConfirm:focus,
#ChangePasswordConfirm:hover {
    background-color: #0c54c7;
}
#Cancel {
    border: none;
    transition: 200ms;
    background-color: #0c60e9;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    user-select: none;
}
#Cancel:focus,
#Cancel:hover {
    background-color: #0c54c7;
}


#ChangeHideee22 {
    display: none;
}


#ShowPassword {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ShowPassword span {
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: 200ms background-color;
    background-color: #f0f0f0;
    font-size: 20px;
    user-select: none;
}

#ShowPassword span:hover {
    background-color: #cacaca;
}


#ShowPassword1 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ShowPassword1 span {
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: 200ms background-color;
    background-color: #f0f0f0;
    font-size: 20px;
    user-select: none;
}

#ShowPassword1 span:hover {
    background-color: #cacaca;
}
