<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart  - GET SKY BUY</title>

    include ../Common/HeadPart.pug
    
    <link rel="stylesheet" href="/verified/files/profile/css/Profile_Address.css">
</head>
<body>
    
    include ../Common/Header.pug
    <script src="/verified/files/common/Message.js"></script>
    <script src="/verified/files/profile/js/Checkout_Cart.js"></script>
</body>
</html>



