<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proceed Checkout - GET SKY BUY</title>

    include ../Common/HeadPart.pug
    
    <link rel="stylesheet" href="/verified/files/Checkout/Checkout_Proceed.css">
</head>
<body>
    
    include ../Common/Header.pug

    


    include ../Common/Footer.pug
    <script src="/verified/files/common/Message.js"></script>
</body>
</html>



