<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - GET SKY BUY</title>

    include ../Common/HeadPart.pug
    
    <link rel="stylesheet" href="/verified/files/checkout/checkout_cart.css">
</head>
<body>
    
    include ../Common/Header.pug

    <div class="Main_Divv">
        <div>
            <h2 style="margin-top: 6px; text-decoration: underline;">Shopping cart</h2>
            

            <div class="Products_In_Cart">


                | !{Data_Of_Cart}


            </div>
        </div>

        <div class="Next">
            <a href="/checkout/proceed">Proceed to checkout</a>
        </div>



    </div>


    include ../Common/Footer.pug
    <script src="/verified/files/common/message.js"></script>
    <script src="/verified/files/checkout/checkout_cart.js"></script>
</body>
</html>



