.Main {
    width: 100%;
    display: block;
}

.Main_Center {
    width: 90%;
    margin: 40px auto;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 15px;
    background-color: #fff;
}

.MainCenterCenter {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.Address_Box h3 {
    margin: 6px 0;
    padding: 0px;
}

.Address_Box address {
    margin-left: 20px;
}

.Payment_Box h3 {
    margin: 6px 0;
    padding: 0px;
}

.Payment_Box_Options {
    margin-left: 20px;
}

.Payment_Box_Options_Item {
    padding: 10px;
    padding-left: 0px;
}

.Product_List h3{
    
    margin: 6px 0;
    padding: 0px;

}

.Product_List_Table {
    margin-left: 20px;
}

.Product_Table {
    text-wrap: balance;
    font-size: 13px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.Product_Table td,
.Product_Table th{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}






.Aside_1 {
    width: 70%;
}
.Aside_2 {
    
    padding-left: 30px;
    border-left: 1px solid #ccc;
    width: 30%;
}



.Final_Box {
    width: 100%;
    margin: 20px auto;
}

.Final_Main {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;


}
.Final_Main tr td{
    border: 1px solid #ccc;
    padding: 10px;


}
.Final_Main tr>td:nth-child(1){
    text-align: right;
    width: 50%;
    font-weight: bold;
}
.Final_Main tr>td:nth-child(2){
    text-align: left;
    width: 50%;
}


.Payment_Box_Options_Item label{
    cursor: pointer;
}

#Final_Payment_Button {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    
}

#Final_Payment_Button button{
    margin: 5px 0px;
    background-color: #ffb362;
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 200ms;
    border-radius: 50px;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    user-select: none;
}
#Final_Payment_Button button:hover, #Final_Payment_Button button:focus{
    background-color: #ff9c33;
    text-decoration: underline;
}
#Final_Payment_Button button:active{
    background-color: var(--secondaryActiv-color);    
}


@media screen and (max-width: 900px) {
    .Check_Title {
        margin-top: 20px;
        margin-left: 15px;
    }
    .Main_Center {
        width: 100%;
    }
    .Aside_1 {
        width: 100%;
        border: none;
    }
    .Aside_2 {
        padding: 0px;
        width: 100%;
        border: none;
    }
    .MainCenterCenter {
        padding: 0px;
        flex-wrap: wrap;
    }
    .Main_Center {
        padding: 0px;
        border-radius: 0px;
    }

    .Address_Box h3 ,
    .Product_List h3 ,
    .Aside_2 h3 ,
    .Address_Box address ,
    .Payment_Box h3 {
        margin-left: 15px;
    }

    .Product_List_Table {
        width: 98%;
        margin: 0px auto;
    }

    .Final_Main {
        width: 98%;
        margin: auto;
    }

    .Product_Table td, .Product_Table th {
        padding: 3px;
    }
    
}