
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page not found</title>
    <link rel="shortcut icon" href="/verified/files/images/favicon.ico" type="image/x-icon">
</head>
<body>
    include ./Header.pug
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
        <h1 style="color: #7f7f7f;">404 - Page not found</h1>
    </div>
    include ./Footer.pug


</body>
</html>