<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us - GET SKY BUY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/verified/files/common/contact_us.css">
    include ./HeadPart.pug
</head>
<body>
    include ./Header.pug

    <main>
        <h3 class="Heading" title="Contact us">Contact us</h3>
        <p class="Small_Text">Get in Touch with Us!</p>
        <form id="Contact_Us">

            <div class="Input_Box">
                <input type="text" class="Input_Tag" id="Name" autofocus placeholder=" ">
                <label class="Input_Box_Label" for="Name">Name*</label>
            </div>

            <div class="Input_Box">
                <input maxlength="10" type="text" class="Input_Tag" id="Contact_Number" placeholder=" ">
                <label class="Input_Box_Label" for="Contact_Number">Contact number*</label>
            </div>

            <div class="Input_Box">
                <input maxlength="10" type="text" class="Input_Tag" id="Whats_App_Number" required placeholder=" ">
                <label class="Input_Box_Label" for="Whats_App_Number">What's app number*</label>
            </div>
            
            <div class="Input_Box">
                <select class="Input_Tag" id="Gender">
                    <option value="">---- Select your gender ----</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>

                <label class="Input_Box_Label" for="Gender">Gender*</label>
            </div>
            

            <div class="Input_Box">
                <textarea class="Input_Tag" id="Reason" placeholder=" " rows="10"></textarea>
                <label class="Input_Box_Label" for="Reason">Why do you want to contact us?*</label>
            </div>
            <div class="Input_Box">
                <button type="button" onclick="SubmitB();" id="Submit">Submit</button>
            </div>

        </form>
    </main>
    
    
    include ./Footer.pug
    <script src="/verified/files/common/message.js"></script>
    <script src="/verified/files/common/contact_us.js"></script>
</body>
</html>