<link rel="stylesheet" href="/verified/files/common/Footer.css">

<footer>
    <div id="Footer_Container">
        <div class="Fotter_Center">
            <div>
                <h4>Company</h4>
                <a href="/about_us">About Us</a>
                <a href="/contact_us">Contact Us</a>
                <a href="/privacy_and_policy">Privacy & Policy</a>
                <a href="/terms_and_conditions">Terms & Conditions</a>
            </div>
            <div>
                <h4>Services</h4>
                <a href="/faq">FAQ</a>
                <a href="/blog">Blog</a>
            </div>
            <div>
                <h4>Support</h4>
                <a href="/contact_us">Contact us</a>
                <a href="/improve_us">Improve us</a>
                <a href="/help_center">Help Center</a>
                <a href="/customer_care">Customer care</a>
                <a href="/file_a_complaint">File a complaint</a>
                <a href="/report_a_problem">Report a problem</a>
            </div>
            <div>
                <h4>Follow Us</h4>
                <a href="https://discord.gg/ZeZUn8mCcB" target="_blank">Discord</a>
                <a href="https://www.threads.net/getskybuy" target="_blank">Threads</a>
                <a href="https://www.linkedin.com/company/getskybuy" target="_blank">LinkedIn</a>
                <a href="https://t.me/getskybuy" target="_blank">Telegram</a>
                <a href="https://www.instagram.com/getskybuy" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/getskybuyofficial" target="_blank">Facebook</a>
                <a href="https://wa.me/918436431656" target="_blank">WhatsApp</a>
                <a href="https://t.me/getskybuygroup" target="_blank">Telegram Group</a>
                <a href="https://whatsapp.com/channel/0029Vam9XzW4tRrngFBuq20h" target="_blank">WhatsApp Channel</a>
                <a href="https://chat.whatsapp.com/I57imYy4y0oBnKij7grF7W" target="_blank">WhatsApp Community</a>
            </div>
        </div>
    </div>
    <div id="Footer_Bottom">Copyright 2024 &copy; All rights reserved</div>
</footer>


//- <script src="/verified/files/common/Footer.js"></script>