<link rel="stylesheet" href="/verified/files/common/Footer.css">

<footer>
    <div id="Footer_Container">
        <div class="Fotter_Center">
            <div>
                <h4>Company</h4>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
            </div>
            <div>
                <h4>Services</h4>
                <a href="/services">Services</a>
                <a href="/pricing">Pricing</a>
                <a href="/faq">FAQ</a>
                <a href="/blog">Blog</a>
            </div>
            <div>
                <h4>Support</h4>
                <a href="/support">Support</a>
                <a href="/contact">Contact Us</a>
                <a href="/help_center">Help Center</a>
            </div>
            <div>
                <h4>Follow Us</h4>
                <a href="https://www.facebook.com" target="_blank">Facebook</a>
                <a href="https://www.twitter.com" target="_blank">Twitter</a>
                <a href="https://www.instagram.com" target="_blank">Instagram</a>
                <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <div id="Footer_Bottom">Copyright 2024 &copy; All rights reserved</div>
</footer>


<script src="/verified/files/common/Footer.js"></script>