<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online shopping site - GET SKY BUY</title>

    <link rel="stylesheet" href="/verified/files/product/css/Product_List.css">
    <link rel="stylesheet" href="/verified/files/common/Home_Page.css">
    include ./HeadPart.pug
</head>
<body>
    include ./Header.pug

    <main>
        <section>
            <div id="Home_Page_Banner1">
                <img src="/verified/files/images/Home_Banner.jpg" alt="Home Page Banner">
            </div>
            <div>
                <h1 style="margin-left: 15px;">Products</h1>
            </div>
            <div class="Product_Row" id="Section1">

            </div>
        </section>
    </main>
    
    
    include ./Footer.pug
    <script src="/verified/files/common/Message.js"></script>
    <script src="/verified/files/product/js/Product_List.js"></script>
    <script src="/verified/files/common/Home_Page.js"></script>
</body>
</html>