<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online shopping site - GET SKY BUY</title>

    <link rel="stylesheet" href="/verified/files/product/css/Product_List.css">
    <link rel="stylesheet" href="/verified/files/common/Search.css">
    include ./HeadPart.pug
</head>
<body>
    include ./Header.pug

    <main class="Main">
        <h4>Showing results for #{Search_Value}</h4>

        <div class="Product-Main_Part">

            <div class="Image_Producttt">
                <a href="">
                    <img src="/product/files/image/1730803788230-120623818%20-%20Screenshot%20(8)_1730803788754_Save.webp" alt="">
                </a>
            </div>

            <div class="Main_Part_O">
                <a href="">
                    <h4>fdakf hdlfhsdfhsdhlsdhlf sdfhsd fljsdhfsdlkfhd hfksd fksdhfk </h4>
                </a>
            </div>
        </div>

    </main>
    
    include ./Footer.pug
    <script src="/verified/files/common/message.js"></script>
    <script src="/verified/files/product/js/Add_To_Cart.js"></script>
    <script src="/verified/files/common/Search.js"></script>
</body>
</html>